{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Início{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Votações</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Início</a></li>
                <li><a href="/criar-votacao">Criar Votação</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}
      <div class="page-header">
        <h1>Votações Disponíveis</h1>
        <table class="table">
      <thead>
        <tr>
          <th scope="col">Titulo</th>
          <th scope="col">Serie</th>
          <th scope="col">opcao1</th>
          <th scope="col">opcao2</th>
          <th scope="col">opcao3</th>
          <th scope="col">opcao4</th>
          <th scope="col">opcao5</th>
        </tr>
      </thead>
      <tbody>
          {% for votacao in votacoes %}
            <tr>
              <td>{{ votacao.titulo }}</td>
              <td>{{ votacao.serie }}</td>
              <td>{{ votacao.opcao1 }} {{ wtf.quick_form(forms[votacao]) }}</td>
              <td>{{ votacao.opcao2 }}</td>
              <td>{{ votacao.opcao3 }}</td>
              <td>{{ votacao.opcao4 }}</td>
              <td>{{ votacao.opcao5 }}</td>
              <td>

              </td>
            </tr>
          {% endfor %}
      </tbody>
    </table>

      </div>
    {% endblock %}
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
